@inject IJSRuntime js

<div class="movies-container">
    <GenericList Instances="Movies">
        <ItemTemplate Context="movie">
            <MovieInstance Movie="movie" DeleteMovie="DeleteMovie"></MovieInstance>
        </ItemTemplate>
    </GenericList>
</div>

@code {
    [Parameter] public List<MovieModel> Movies { get; set; }

    public async Task DeleteMovie(MovieModel model)
    {
        var result = await js.Confirm($"Are you sure you want to delete {model.Title}?");

        await js.Log("custom message");

        if (result)
            Movies.Remove(model);
    }
}
