<div class="individual-movie-container">
    <a href="@MovieUrl">
        <img src="@Movie.Poster" alt="Poster" class="movie-poster" />
    </a>
    <p>@Movie.TitleBrief</p>
    <div>
        <a class="btn btn-info">Edit</a>
        <button type="button" class="btn btn-danger"
                @onclick="@(() => DeleteMovie.InvokeAsync(Movie))">
            Delete
        </button>
    </div>
</div>

@code {
    [Parameter] public MovieModel Movie { get; set; }
    [Parameter] public EventCallback<MovieModel> DeleteMovie { get; set; }

    private string MovieUrl { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        MovieUrl = $"movie/{Movie.Id}/{Movie.Title.Replace(" ", "-")}";
    }
}
